.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#sumreed {
  height: 61rem !important;
  width: 100% !important;
}

#slider {
  width: 100%;
  height: 1050px;

}

.gradient_back {
  background: rgb(34, 193, 195);
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(0, 0, 0, 1) 90%);


}


#header {
  display: flex;
  align-items: left;
  font-weight: 100px;
  color: white;
}

.productinfo {
  padding: 20px;
  height: 500px;
  width: 300px;
  color: white;
  background-color: whitesmoke
}

#img_width {
  height: 300px;
  weight: 400px
}